.menu-div {
  padding: 5px;
  background-color: rgb(211, 226, 235);
  text-align: center;
}
footer {
  padding: 10px;
  background-color: red;
  text-align: center;
}
header {
  padding: 10px;
  background-color: red;
  text-align: center;
}
.main {
  height: 400px;
  width: 100%;
  display: flex;
  flex-flow: row;
}

.left,
.right {
  padding: 200px 0px;
  background-color: rgb(0, 255, 42);
  width: 20%;
  text-align: center;
}
.mid {
  padding: 200px 0px;
  background-color: rgb(0, 4, 255);
  width: 60%;
  text-align: center;
}
span {
  font-size: 200%;
  font-weight: bold;
}
